Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
#ans: Comment in python write with '#' , means if we have to write comment we start with # symbol.

In [3]:
#there are three type of comment.

In [4]:
#first: single line comment.
#thisis example of single line comment.

In [5]:
#second: multi line comment
#this 
#is 
#example
#of
#multi-line
#comment

In [34]:
#third: doc string comment
#in this type we not use # ,we write  (''') or (""")
'''this is example of 
 doc string comment'''

'this is example of \n doc string comment'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [2]:
#ans: variable means we can store any kind of data at particular place with any name,
#to assign values we used '='(equal to) symbol, left side of = is variable and other side is value,
#example of variable and how to assign the value
a= 100

In [3]:
a

100

Q3. How do you convert one data type to another in Python?

In [21]:
#to convert any type of data we directly write data type and thats set, for example
num=100
type(num)
#here a is integer (or int in python language)

int

In [22]:
#to convert this into string we write
conv_num=str(type(num))
type(conv_num)

str

Q4. How do you write and execute a Python script from the command line?

In [23]:
'''first we write a program, after completing a proagram we press the RUN key or in jupyterLab shorkut key like shift+enter
after execution program they show the result'''

'first we write a program, after completing a proagram we press the RUN key or in jupyterLab shorkut key like shift+enter\nafter execution program they show the result'

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [24]:
my_list=[1,2,3,4,5]

In [27]:
sub_list=my_list[1:3:1]

In [28]:
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [31]:
#ans: complex number is a combination of imaginary and real number, imaginary number link with i in maths
#for example 87+88i -> here 87 is a real number and 88 is a imaginary
#in python imaginary number represented by j for example
a=9+99j
#here 9 is real number and 99 is imaginary
type(a)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [1]:
#we can simply write 'age' and write equal to symbol to assign value '25' 
age = 25

In [2]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [3]:
price = 9.99

In [4]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [5]:
name = "Sayyed Mustaqeem"

In [6]:
#to print value of this we type 'name' and press shift+enter.
name

'Sayyed Mustaqeem'

Q10. Given the string "Hello, World!", extract the substring "World".

In [33]:
#first let "Hello, World!" as 's'
s="Hello, World!"
#now 
s[7::]

'World!'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [37]:
is_student=True
if is_student==1:
    print("Yes i am currently a student")
else:
    print ("No i am not a student")

Yes i am currently a student

In [40]:
is_student={True:"yes i am student"}

In [41]:
is_student[1]

'yes i am student'